body {
  background-color: #2b2b2b;
}
.header nav.navbar.white-link .navbar-nav > li > a, nav.navbar.bootsnav.white-link ul.nav > li > a, header nav.navbar.white-link .header-social-icon a, nav.navbar.bootsnav.white-link .header-social-icon a, header nav.navbar.white-link .header-searchbar a, nav.navbar.bootsnav.white-link .header-searchbar a, header nav.navbar.bootsnav ul.nav.white-link > li > a, nav.navbar.white-link .heder-menu-button a {
  color: rgb(121, 192, 0);
  font-size: 1rem;
}
.trocaCorHeader a{
  color: rgb(255, 255, 255) !important;
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton:300,400,600,800|Nunito:300,400,600,800');


/* INÍCIO ONDAS */
div.wave{
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 99;
}
.wave svg{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* FIM ONDAS */
#about .container {
  padding-top: 0px !important;
}
p {
  font-size: 1.125rem;
}
.fadeInRight li {
  font-size: 1.125rem;
}
section#about .cover-background {
  padding-top: 0px;
}
/* quadro2 */
section#about h3 {
  word-wrap: normal;
  flex-wrap: nowrap;
  font-size: 3.3rem;
  margin-bottom: 50px;
  text-align: right;
  color: #ffffff;
  font-weight: 800;
}
.quadro2 p {
  text-align: justify;
  color: #E2E2E2;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
body{
  height: 100%;
  margin: 0;
}

#container {
    position: relative;
    height: 90vh;
}
.quadro3 {
  padding-top:0px;
}
.quadro3 .titulo {
  color: #f0f0f0;
  font-size: 3.3rem;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.quadro3 .subtitulo {
  margin-top:30px;
  color: #e6e6e6;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.quadro3 .bg-white {
  background-color: #202020 !important;
}
.quadro3 .bg-white p {
  color: #e6e6e6;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35rem;
  text-align: center;
}
.quadro3 .bg-white h4 {
  margin-top: -25px;
  margin-bottom: 20px !important;
}
.quadro3 .titulo2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 50px;
}

.quadro4 {
  padding-top: 0px !important;
  background-color: white;
}
section {
  padding-top: 0px;
}
.quadro5 .box-esq h3 {
  font-size: 3.3rem;
  margin-bottom: 50px;
  text-align: left;
}
.quadro5 {
  padding-top: 200px;
  padding-bottom: 0px;
  background-color: white;
}
.crm {
  padding: 150px 0px 0px 0px;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: black;
}
.subcrm {
  text-align: center;
  justify-content: center;
  color: black;
  font-size:1.4rem; 
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
.quadro6 {
  background-color: #2b2b2b;
  padding-top: 100px;
  text-align: center;
  justify-content: center;
}
.box-dir p
{
color: rgb(94, 94, 94);
text-align: center;
font-family: 'Montserrat', sans-serif;
text-transform:uppercase;
font-size: 1.2rem;
letter-spacing: 0.5px;
font-weight: 300;
}
.box-dir .text-medium {
  font-size:1.4rem
}

.box-dir ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}
.box-esq ul li {
  font-size: 1.2rem;
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  
}
.solucao p {
  text-align: justify;
  font-size: 1.5rem;
  color: rgb(226, 226, 226);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.solucao h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 3.3rem;
  color: white;
}
.solucao li {
  color: rgb(226, 226, 226) !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: start;
}
#icone1, #icone2, #icone3, #icone4, #msg1, #msg2, #msg3, #msg4, #msg5, #msg6, #msg7, #msg8 {
  transition: 0.01s;
}
.feature-box-18:hover p {
  opacity: 0.8 !important;
}
.container-footer {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-left:0px;
}
/* ============================
== TEXTO "ATENÇÃO" NO FOOTER ==
===============================*/
.aviso {
  margin-top: 30px;
  text-align: center;
  color: #E6E6E6;
}
.aviso h2 {
  color: #d6d5d5;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0px;
}
.aviso p {
  text-align: center;
  color: #6F6F6F;
  font-size: 1.2rem;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif
}
footer {
  padding: 0 50px 0px 50px;
}
.trabalho {
  width: auto !important;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.trabalho h5 {
  font-size: 1.5rem;
}
.trabalho span, a {
  font-size: 1rem;
}
.container-footer .fab {
  margin: 0px 10px 0px 10px;
}
footer{margin-top: 100px;}
/* ------------------------- */
.foot-menu a:hover {
  color: #a9caac;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.foot-menu a{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  padding: 10px;
  color: #d6d5d5d5;
}
.copy-right h5 {
  font-size: 1rem;
}
.page-rights{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  text-align: justify;
  padding: 0px 400px 0px 400px;
}
.page-rights p a, ul li a{
  color: rgb(67, 139, 70);
}
.page-rights h3{
  text-align: start;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
.page-rights td, th {
  font-size: 1rem;
  color: rgb(211, 211, 211);
  align-items: center !important;
  justify-content: center;
}
.pages-rights ul li{
  font-size: 1rem !important;
}