header nav.navbar.white-link .navbar-nav > li > a, nav.navbar.bootsnav.white-link ul.nav > li > a, header nav.navbar.white-link .header-social-icon a, nav.navbar.bootsnav.white-link .header-social-icon a, header nav.navbar.white-link .header-searchbar a, nav.navbar.bootsnav.white-link .header-searchbar a, header nav.navbar.bootsnav ul.nav.white-link > li > a, nav.navbar.white-link .heder-menu-button a {
  color: #fff;
  font-size: 1rem;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton:300,400,600,800|Nunito:300,400,600,800');


/* INÍCIO ONDAS */
div.wave{
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 99;
}
.wave svg{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* FIM ONDAS */
#about .container {
  padding-top: 0px !important;
}
p {
  font-size: 1.125rem;
}
.fadeInRight li {
  font-size: 1.125rem;
}
#about .cover-background {
  background-color: red;
}
section#about .cover-background {
  background-color: red !important;
  padding-top: 0px;
}
/* quadro2 */
section#about h3, p {
  color: #e6e6e6;
  text-align: justify;
}
section#about h3 {
  word-wrap: normal;
  flex-wrap: nowrap;
  font-size: 3.3rem;
  margin-bottom: 50px;
  text-align: right;
  color: #ffffff;
  font-weight: 800;
}
.quadro2 p {
  font-size: 1.3rem !important;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
body{
  height: 100%;
  margin: 0;
}

#container {
    position: relative;
    height: 90vh;
}
.quadro3 {
  padding-top:0px;
}
.quadro3 .titulo {
  color: #f0f0f0;
  font-size: 3.3rem;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.quadro3 .subtitulo {
  margin-top:30px;
  color: #e6e6e6;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.quadro3 .bg-white {
  background-color: #202020 !important;
}
.quadro3 .bg-white p {
  color: #e6e6e6;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35rem;
  text-align: center;
}
.quadro3 .bg-white h4 {
  margin-top: -25px;
  margin-bottom: 20px !important;
}
.quadro3 .titulo2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 50px;
}

.quadro4 {
  padding-top: 0px !important;
}
section {
  padding-top: 0px;
}

.quadro5 .box-esq h3 {
  font-size: 3.3rem;
  margin-bottom: 50px;
  text-align: left;
}
.quadro5 {
  padding-top: 200px;
}


.box-dir p
{
color: rgb(94, 94, 94) !important;
text-align: center;
font-family: 'Montserrat', sans-serif;
text-transform:uppercase;
font-size: 1.2rem;
letter-spacing: 0.5px;
font-weight: 300;
}
.box-dir .text-medium {
  font-size:1.4rem
}

.box-dir ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}
.box-esq ul li {
  font-size: 1.2rem;
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  
}
.solucao p {
  font-size: 1.5rem;
  color: rgb(58, 58, 58);
  font-weight: 400;
}
.solucao h4 {
  text-align: left;
}
.solucao li {
  color: rgb(94, 94, 94) !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}
.subcrm {
  font-size:1.4rem; 
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
header nav.navbar.white-link .navbar-nav > li > a, nav.navbar.bootsnav.white-link ul.nav > li > a, header nav.navbar.white-link .header-social-icon a, nav.navbar.bootsnav.white-link .header-social-icon a, header nav.navbar.white-link .header-searchbar a, nav.navbar.bootsnav.white-link .header-searchbar a, header nav.navbar.bootsnav ul.nav.white-link > li > a, nav.navbar.white-link .heder-menu-button a {
  color: rgb(121, 192, 0);
  font-size: 1rem;
}

/* ============================
== TEXTO "ATENÇÃO" NO FOOTER ==
===============================*/
.warning_footer {
  font-size: 36px !important;
  position: relative !important;
  line-height: 38px !important;
  font-weight: 400 !important;
  font-family: 'Anton', sans-serif !important;
  background: -webkit-linear-gradient(#ffd370 0%, #f7ad07 50%) !important;
  /* background: -webkit-linear-gradient(#ff8170 0%, #f72307 50%); */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-transform: uppercase !important;
  z-index: 0 !important;
  padding-bottom: 35px !important;
  cursor: auto !important;
  letter-spacing: 1px !important;
  justify-content: center !important;
}